.cart {
    border: 2px solid black;
    width: 200px;
    height: 236px;
    margin: 50px;
    border-radius: 10px;
    margin-top: 130px;
    

}
.titel {
    text-align: center;
}
.price{
    text-align: center;
}
.textline{
    color: white;
    font-size: 30px;
    margin: 50px 0px 0px 60px;
}

.btn{
    width: 200px;
    height: 50px;
    background-color: blue;
    margin: 26px 0px 0px 0px;
    border-radius: 10px;
}
.btn:hover{
    background-color: orange;
}
.img{
    background-image: url("home-masthead.jpg");
    background-size: cover; /* Adjust background size to cover the container */
    background-repeat: no-repeat;
    width: 100%; /* Adjust the width to fit the container */
    height: 500px; /* Adjust the height to fit the container */
}

