.contenar {
  width: 100%;
  color: black;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: none;
}

.section {
  display: flex;
  align-items: center;
  margin: 10px;

}

.groupbody {
  height: 500px;
  overflow: auto;
}

.sections {
  display: flex;
  align-items: center;
  margin: 10px;
}

.colorbox {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.colorboxtwo {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 10px;
  font-weight: 15px;
  text-align: center;
  font-size: 20px;



}

.body {
  display: flex;
}

.sectionone {
  width: 300px;
  height: 600px;
  border: 1px solid black;
  border: none;
}

.sectiontwo {
  background-color: #F7ECDC;
  width: 100%;
  height: 600px;
  border: 1px solid black;
  position: relative;
  border: none;
}

.chatbox {
  position: absolute;
  bottom: 0;
  border: 1px solid black;
  width: 100%;
  height: 200px;
  background-color: #E8E8E8;
  border: none;
}

.desinbox {
  border: 1px solid black;
  width: 1030px;
  height: 150px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  border: none;
}

.typebox {
  width: 900px;
  height: 70px;
  border: none;
  outline: none;
  margin: 20px 20px 20px 50px;

}

.btn {
  background-color: black;
  color: azure;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.7em 2.9em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: beige;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20px;

}

.addbtn {
  margin-left: 68em;
}

.sectiontext {
  margin-left: 70px;
  text-align: start;
  font-size: 15px;

}

.notesection {
  height: 300px;
  overflow: auto;
}

.header {
  width: 98%;
  height: 40px;
  background-color: #E8E8E8;
  text-align: start;
  color: black;
  margin-top: 0px;
  font-size: 20px;
  padding: 10px;
}

/* scrol bar disigin */
.notesection::-webkit-scrollbar {
  width: 5px;
}

.notesection::-webkit-scrollbar-thumb {
  background: #63616142;
  border-radius: 5px;
  font-size: 8px;
}

/* .notesection::-webkit-scrollbar-thumb:hover {
  background: #ece9e942;
} */

.notesection::-webkit-scrollbar-track {
  background: #faf9f9f5;
}

/* .notesection::-webkit-scrollbar-track:hover {
  background: #ccc;
} */

@media(max-width:767px) {

  .sectionone {
    width: 300px;
    height: 600px;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    margin: 10px;
  }
  .sectiontwo {
    background-color: #F7ECDC;
    width:300px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    border: none;
  }
  .header {
    width: 93%;
    height: 40px;
    background-color: #E8E8E8;
    text-align: start;
    color: black;
    margin-top: 0px;
    padding: 10px;
  }
  .desinbox {
    border: 1px solid black;
    width: 250px;
    height: 110px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
  }
  .chatbox {
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    width: 300px;
    height: 150px;
    background-color: #E8E8E8;
    border: none;
  }
  .typebox {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    margin: 20px 20px 20px 50px;
  
  }
  .addbtn {
    margin-left: 12rem;
   
  }
  

}